---
layout: default
title: 朱天杰's博客
---

<div class="col-md-8">

	<h1>
	分享一些小东西
	</h1>

	<hr>

	<!-- traverse paged posts  -->
	{% for post in paginator.posts %}
	<h2>
		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	</h2>

	<div class="media">
		<div class="media-body">
		{{ post.excerpt | markdownify }}
		</div>
	</div>

	<br >
	<a class="btn btn-primary" href="{{ site.baseurl }}{{ post.url }}">详细阅读<span class="glyphicon glyphicon-chevron-right"></span></a>

	<hr>
	{% endfor %}

	<!-- pagination -->
	{% if paginator.total_pages > 1 %}
	<div>
		<!--previous page arrow -->
		<ul class="pagination">
		{% if paginator.previous_page %}
		<li class="previous">
			{% if paginator.previous_page == 1 %}
			<a href="/">&laquo;</a>
			{% else %}
			<a href="{{ paginator.previous_page_path }}">&laquo;</a>
		{% endif %}
		</li>
		{% else %}
		<li class="previous disabled">
			<span>&laquo;</span>
		</li>
		{% endif %}

		<!-- page num -->
		<li><span>{{ paginator.page }}/{{ paginator.total_pages }}</span></li>

		<!-- next page arrow -->
		{% if paginator.next_page %}
		<li class="next">
			<a href="{{ paginator.next_page_path }}">&raquo;</a>
		</li>
		{% else %}
		<li class="next disabled">
			<span>&raquo;</span>
		</li>
		{% endif %}
		</ul>
	</div>
	{% endif %}

</div>

{% include recent.html %}

